<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/list-style.css}" rel="stylesheet"/> <!--plik z ...\resources\static\css\list-style.css -->
    <title>Lista projektów</title>
</head>
<body>
<div class="root">
    <h1>Lista projektów</h1>
    <p><a th:href="@{/projectEdit}">Dodaj projekt</a></p>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Utworzony</th>
            <th>Zmodyfikowany</th>
            <th>Data oddania</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projects}">
            <td th:text="${project.projectId}">Id</td>
            <td th:text="${project.name}">Nazwa</td>
            <td th:text="${project.description}">Opis</td>
            <td th:text="${#temporals.format(project.creationDate, 'yyyy-MM-dd HH:mm:ss')}">Utworzony</td>
<!--            <td th:text="${#temporals.format(projekt., 'yyyy-MM-dd HH:mm:ss')}">Zmodyfikowany</td>-->
            <td th:text="${#temporals.format(project.returnDate, 'yyyy-MM-dd')}">Data oddania</td>
            <td>
                <a th:href="@{/projectEdit(projectId=${project.projectId})}">Edytuj</a><br>
                <a th:href="@{/projectEdit(projectId=${project.projectId},delete='true')}">Usuń</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>